*{
    margin: 0;padding: 0;box-sizing: border-box;
}

img{
    width: 150px;
    height: 150px;
}
input{
    margin-left:50px ;
    padding: 5px;
    padding-top:10px;
}
.submit{
    margin: 10px;
    margin-top:10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: green;
    color:white;
    font-size:20px;
    border:none;
}
.erase{
    margin: 10px;
    margin-top:10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: rgb(128, 36, 0);
    color:white;
    font-size:20px;
    border:none;

}